<style>
* {
 box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffcccc;
  position: fixed;
  top: 0;
  width: 99%;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 12px;
  font-variant: small-caps;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #cce6ff;
}

.active {
  background-color: #ff8080;
}

a:link {
  color: #595959;
  text-decoration:none
}

a:visited {
  color: #595959;
  text-decoration:none
}

a:hover {
  color: #ff0066;
  text-decoration:none
}

body {
 font-family: Georgia, serif;
 text-align: justify;
 color: #4d4d4d
}

h1 {
 font-family: "Sofia", sans-serif;
 text-align: center;
 font-size: 60px;
 color: #2eb8b8
}

h2 {
 font-family: Brush Script MT, cursive;

 text-align: center;
 font-size: 40px;
 color: #ff3377
}


h3 {
 text-decoration: none;
 background-color: #cce6ff;
 text-align: center;
 font-size: 15px;
}

table, td {
  border: 1.5px solid black;
}

img {
  border: 2px solid #ff4d88;
  border-radius: 4px;
  padding: 4px;
}

footer {
  background-color: #ff7070;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.7s ease;
  border-radius: 5px;
  background-color: #b3d9ff;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 16px;
  text-decoration: underline wavy;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
